block variables

doctype html
html
    head
        head
            title TOXIN - Найдём номера под ваши пожелания
            meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        body
            include header
            block content
            include footer
